.box1 {
    display: flex;
    cursor: pointer;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 15%;
}

.checked {
    margin-left: 46%;
    width: 7%;
}